In [3]:
import pandas as pd

In [5]:
dat = pd.read_table("ambiguous_mention_check.txt", sep = "_", header = None)
dat.columns = ['patient_id', 'note_id', 'cui', 'tui','count']

In [6]:
dat[0:10]

    patient_id       note_id       cui   tui  count
0  2429.001897  10806357.txt  C0150866  T060      1
1  2429.001897  10806357.txt  C0033774  T184      1
2  2429.001897  10806357.txt  C0003467  T048      1
3  2429.001897  10806357.txt  C0344315  T033      1
4  2429.001897  10806357.txt  C0344315  T033      1
5  2429.001897  10806357.txt  C0344315  T033      1
6  2429.001897  11093058.txt  C0344315  T033      1
7  2429.001897  11093058.txt  C0150866  T060      1
8  2429.001897  13175259.txt  C0344315  T033      1
9  2429.001897  13175259.txt  C0344315  T033      1

In [7]:
dat_ambig = dat.loc[dat['count'] == 2]

In [8]:
len(dat_ambig['count']) # ambiguous count

3478

In [9]:
dat_dedup = dat.loc[dat['count'] == 1]

In [10]:
len(dat_dedup['count']) # total count

99407

In [11]:
len(dat_ambig['count'])/len(dat_dedup['count']) # percentage ambiguous

0.034987475731085335

In [28]:
# avg num of senses per mention

# for each patient
# for each note
# for each cui
# highest number

In [26]:
# biggest number?
# how many of biggest number?
# subtract from next smallest number

In [17]:
dat_notOne[dat_notOne['count'] == 9].count()['count']

90

In [18]:
dat_notOne[dat_notOne['count'] == 8].count()['count']

106

In [19]:
dat_notOne[dat_notOne['count'] == 7].count()['count']

106

In [20]:
dat_notOne[dat_notOne['count'] == 6].count()['count']

8125

In [21]:
dat_notOne[dat_notOne['count'] == 5].count()['count']

12051

In [22]:
dat_notOne[dat_notOne['count'] == 4].count()['count']

54016

In [23]:
dat_notOne[dat_notOne['count'] == 3].count()['count']

148414

In [24]:
dat_notOne[dat_notOne['count'] == 2].count()['count']

780233