In [1]:
import pandas as pd
import os

In [2]:
filename = "nmh_note_departments.csv"

In [3]:
# read notes, add column names, show top of table
notes = pd.read_csv(filename)
notes.columns = ['patient_id', 'encntr_id', 'source', 'date']
notes[0:10]

    patient_id  encntr_id          source                     date
0  2429.001897   44918998        PAC - OB  2010-03-31 14:05:00.000
1  2429.001897   44918998        PAC - OB  2010-03-31 14:05:00.000
2  2429.001897   44918998        PAC - OB  2010-03-31 14:05:00.000
3  2429.001897   44918998        PAC - OB  2010-03-31 14:05:00.000
4  2429.001897   44918998        PAC - OB  2010-03-31 14:05:00.000
5  2429.001897   44918998        PAC - OB  2010-03-31 14:05:00.000
6  2429.001897   58600314        PAC - OB  2012-05-14 19:36:00.000
7  2429.002049   37648549  Emergency Room  2008-05-04 11:19:00.000
8  2429.003768   29809159        PAC - OB  2006-09-25 11:46:00.000
9  2429.003768   29809159        PAC - OB  2006-09-25 11:46:00.000

In [4]:
len(notes['patient_id'])

13271

In [5]:
notes_dedup = notes.drop_duplicates(['date', 'encntr_id', 'patient_id'])
notes_dedup = notes_dedup.reset_index(drop=True)

In [6]:
notes_dedup[:10]

    patient_id  encntr_id              source                     date
0  2429.001897   44918998            PAC - OB  2010-03-31 14:05:00.000
1  2429.001897   58600314            PAC - OB  2012-05-14 19:36:00.000
2  2429.002049   37648549      Emergency Room  2008-05-04 11:19:00.000
3  2429.003768   29809159            PAC - OB  2006-09-25 11:46:00.000
4  2429.003768   56952370  Physician Referral  2011-09-08 12:58:30.000
5  2429.003768   57041601  Physician Referral  2011-09-20 10:31:16.000
6  2429.003768   57041670  Physician Referral  2011-09-23 13:31:27.000
7  2429.003768   57234689  Physician Referral  2011-09-27 10:33:42.000
8  2429.003768   57357922  Physician Referral  2011-10-18 10:22:40.000
9  2429.003768   57357948  Physician Referral  2011-10-11 10:33:33.000

In [7]:
len(notes_dedup['patient_id'])

2879

In [9]:
derm = {}
allergy = {}
other = {}

for i in range(0, len(notes_dedup['source'])):
    key = str(notes_dedup['patient_id'].ix[i]) + "_" + str(notes_dedup['encntr_id'].ix[i]) + ".txt"
    if "derm" in str(notes_dedup['source'].ix[i]).lower():
        derm[key] = "derm"#notes_dedup['source'].ix[i]
    elif "allerg" in str(notes_dedup['source'].ix[i]):
        allergy[key] = "allergy"#notes_dedup['source'].ix[i]
    else:
        other[key] = "other"#notes_dedup['source'].ix[i]

In [10]:
with open('nmh_note_types.txt', 'w') as wf:
    for key in derm:
        wf.write(key)
        wf.write("\t")
        wf.write(str(derm[key]))
        wf.write("\n")
    for key in other:
        wf.write(key)
        wf.write("\t")
        wf.write(str(other[key]))
        wf.write("\n")