In [1]:
import pandas as pd

In [8]:
nmh = pd.read_table("nmh_patients_with_keywords.txt", sep = "\t")

In [9]:
nmh[0:10]

   ﻿patient_study_id
0        2429.003768
1        2429.026677
2        2429.045765
3        2429.046826
4        2429.063776
5        2429.067346
6        2429.090706
7        2429.093133
8        2429.098964
9        2429.125693

In [10]:
nmff = pd.read_table("nmff_patients_with_keywords.txt", sep = "\t")

In [11]:
nmff[0:10]

   ﻿patient_study_id
0        2429.001897
1        2429.002049
2        2429.003768
3        2429.007586
4        2429.012835
5        2429.015977
6        2429.018873
7        2429.021347
8        2429.026677
9        2429.028492

In [28]:
frames = [nmff, nmh]
patients = pd.concat(frames)
patients.columns = ['patient_study_id']

In [30]:
# deduplicate patients
patients_dedup = patients.drop_duplicates(['patient_study_id'])
patients_dedup = patients_dedup.reset_index(drop=True)

In [17]:
patients[0:10]

   ﻿patient_study_id
0        2429.001897
1        2429.002049
2        2429.003768
3        2429.007586
4        2429.012835
5        2429.015977
6        2429.018873
7        2429.021347
8        2429.026677
9        2429.028492

In [23]:
len(patients_dedup['patient_study_id'])

480

In [26]:
patients_dedup['patient_study_id'] = round(patients_dedup['patient_study_id'], 7)

In [27]:
patients_dedup.to_csv("all_patients_with_keywords.txt", sep = "\t", index = False)