In [1]:
import pandas as pd

In [2]:
dat = pd.read_table("diagnosis_codes_ids.txt", sep="\t")
dat.columns = ['patient_id', 'diagnosis', 'vocab', 'value', 'severity', 'date']

In [3]:
len(dat.index)

115347

In [4]:
len(set(dat['patient_id']))

577

In [5]:
dat[:10]

,patient_id,diagnosis,vocab,value,severity,date
0,2429.282817,MIXED HYPERLIPIDEMIA,ICD9,272.2,NaN,2012-06-20 12:32:00.00
1,2429.282817,MIXED HYPERLIPIDEMIA,ICD9,272.2,NaN,2012-11-08 14:58:44.00
2,2429.282817,DIABETES MELLITUS WITHOUT MENTION OF COMPLICAT...,ICD9,250.00,NaN,2012-06-20 12:32:00.00
3,2429.282817,DIABETES MELLITUS WITHOUT MENTION OF COMPLICAT...,ICD9,250.00,NaN,2012-11-08 14:58:44.00
4,2429.282817,BENIGN ESSENTIAL HYPERTENSION,ICD9,401.1,NaN,2012-06-20 12:32:00.00
5,2429.282817,BENIGN ESSENTIAL HYPERTENSION,ICD9,401.1,NaN,2012-11-08 14:58:44.00
6,2429.282817,ENLARGEMENT OF LYMPH NODES,ICD9,785.6,NaN,2012-11-08 14:58:44.00
7,2429.282817,ROUTINE GENERAL MEDICAL EXAMINATION AT A HEALT...,ICD9,V70.0,NaN,2012-06-20 12:32:00.00
8,2429.282817,NEED FOR PROPHYLACTIC VACCINATION AND INOCULAT...,ICD9,V04.81,NaN,2011-09-15 11:16:58.00
9,2429.282817,BENIGN ESSENTIAL HYPERTENSION,ICD9,401.1,NaN,2011-09-15 11:23:37.00

In [6]:
dat_dedup = dat.drop_duplicates(['date', 'value', 'patient_id'])
dat_dedup = dat_dedup.reset_index(drop=True)

In [7]:
len(dat_dedup)

85795

In [8]:
len(set(dat_dedup['patient_id']))

577

In [9]:
dat_dedup[:5]

,patient_id,diagnosis,vocab,value,severity,date
0,2429.282817,MIXED HYPERLIPIDEMIA,ICD9,272.2,NaN,2012-06-20 12:32:00.00
1,2429.282817,MIXED HYPERLIPIDEMIA,ICD9,272.2,NaN,2012-11-08 14:58:44.00
2,2429.282817,DIABETES MELLITUS WITHOUT MENTION OF COMPLICAT...,ICD9,250.00,NaN,2012-06-20 12:32:00.00
3,2429.282817,DIABETES MELLITUS WITHOUT MENTION OF COMPLICAT...,ICD9,250.00,NaN,2012-11-08 14:58:44.00
4,2429.282817,BENIGN ESSENTIAL HYPERTENSION,ICD9,401.1,NaN,2012-06-20 12:32:00.00

In [10]:
for index, row in dat_dedup.iterrows():
    new_val = round(row['patient_id'], 7)
    dat_dedup.set_value(index, 'patient_id', new_val)

In [11]:
dat_dedup[:5]

,patient_id,diagnosis,vocab,value,severity,date
0,2429.282817,MIXED HYPERLIPIDEMIA,ICD9,272.2,NaN,2012-06-20 12:32:00.00
1,2429.282817,MIXED HYPERLIPIDEMIA,ICD9,272.2,NaN,2012-11-08 14:58:44.00
2,2429.282817,DIABETES MELLITUS WITHOUT MENTION OF COMPLICAT...,ICD9,250.00,NaN,2012-06-20 12:32:00.00
3,2429.282817,DIABETES MELLITUS WITHOUT MENTION OF COMPLICAT...,ICD9,250.00,NaN,2012-11-08 14:58:44.00
4,2429.282817,BENIGN ESSENTIAL HYPERTENSION,ICD9,401.1,NaN,2012-06-20 12:32:00.00

In [12]:
pl = pd.read_table("problem_list.txt")
pl.columns = ['patient_id', 'src','src_val', 'diagnosis', 'vocab', 'value', 'date', 'end_date', 'active']
pl[:5]

,patient_id,src,src_val,diagnosis,vocab,value,date,end_date,active
0,2429.749566,PROBLEM_LIST,1457442,"Benign neoplasm of skin of trunk, except scrotum",ICD-9-CM,216.5,2011-12-21 00:00:00.00,2100-12-31 00:00:00.00,1
1,2429.749566,PROBLEM_LIST,1457443,"Benign neoplasm of skin, site unspecified",ICD-9-CM,216.9,2011-12-21 00:00:00.00,2100-12-31 00:00:00.00,1
2,2429.749566,PROBLEM_LIST,1457444,Other seborrheic keratosis,ICD-9-CM,702.19,2011-12-21 00:00:00.00,2100-12-31 00:00:00.00,1
3,2429.749566,PROBLEM_LIST,3752994,"Asthma, mild intermittent",ICD-9-CM,493.90,2014-10-10 00:00:00.00,2100-12-31 00:00:00.00,1
4,2429.749566,PROBLEM_LIST,4149722,Mood disorder,ICD-9-CM,296.90,2015-02-11 00:00:00.00,2100-12-31 00:00:00.00,1

In [13]:
print('unique patients: ' + str(len(set(pl['patient_id']))) + ' unique entries: ' + str(len(pl['patient_id'])))

unique patients: 514 unique entries: 3862

In [14]:
pl_dedup = pl.drop_duplicates(['date', 'value', 'patient_id'])
pl_dedup = pl_dedup.reset_index(drop=True)
print('unique patients: ' + str(len(set(pl_dedup['patient_id']))) + ' unique entries: ' + str(len(pl_dedup['patient_id'])))

unique patients: 514 unique entries: 3829

In [15]:
pl_dedup = pl_dedup.drop('end_date', 1)
pl_dedup = pl_dedup.drop('active', 1)
pl_dedup = pl_dedup.drop('src', 1)
pl_dedup = pl_dedup.drop('src_val', 1)

In [16]:
pl_dedup['severity'] = 'NaN'

In [40]:
for i, row in pl_dedup.iterrows():
    pl_dedup.set_value(i, 'patient_id', round(row['patient_id'], 7))

In [41]:
pl_dedup[:5]

,patient_id,diagnosis,vocab,value,severity,date
0,2429.749566,"Benign neoplasm of skin of trunk, except scrotum",ICD-9-CM,216.5,NaN,2011-12-21 00:00:00.00
1,2429.749566,"Benign neoplasm of skin, site unspecified",ICD-9-CM,216.9,NaN,2011-12-21 00:00:00.00
2,2429.749566,Other seborrheic keratosis,ICD-9-CM,702.19,NaN,2011-12-21 00:00:00.00
3,2429.749566,"Asthma, mild intermittent",ICD-9-CM,493.90,NaN,2014-10-10 00:00:00.00
4,2429.749566,Mood disorder,ICD-9-CM,296.90,NaN,2015-02-11 00:00:00.00

In [18]:
cols = ['patient_id', 'diagnosis', 'vocab', 'value', 'severity', 'date']
pl_dedup = pl_dedup[cols]

In [19]:
pl_dedup[:1]

,patient_id,diagnosis,vocab,value,severity,date
0,2429.749566,"Benign neoplasm of skin of trunk, except scrotum",ICD-9-CM,216.5,NaN,2011-12-21 00:00:00.00

In [43]:
# family history of asthma and hay fever
famhx = pd.read_table("family_hx_asthma_hay_fever.txt")
famhx['vocab'] = "ICD-10-CM"
famhx['value'] = "a"
famhx['severity'] = "NaN"
famhx.columns = ['patient_id', 'diagnosis', 'relation', 'comments', 'date', 'vocab', 'value', 'severity']
famhx[:1]

,patient_id,diagnosis,relation,comments,date,vocab,value,severity
0,2429.140522,Asthma,Father,NaN,2013-05-10 00:00:00.000,ICD-10-CM,a,NaN

In [44]:
for index, row in famhx.iterrows():
    if row['diagnosis'] == 'Asthma':
        famhx.set_value(index, 'value', 'V17.5')
    else:
        famhx.set_value(index, 'value', 'V17.6')
    
    famhx.set_value(index, 'patient_id', round(row['patient_id'], 7))

In [45]:
famhx = famhx.drop('relation', 1)
famhx = famhx.drop('comments', 1)

In [46]:
cols = ['patient_id', 'diagnosis', 'vocab', 'value', 'severity', 'date']
famhx = famhx[cols]

In [47]:
famhx[:1]

    patient_id diagnosis      vocab  value severity                     date
0  2429.140522    Asthma  ICD-10-CM  V17.5      NaN  2013-05-10 00:00:00.000

In [48]:
print('unique patients: ' + str(len(set(famhx['patient_id']))) + ' unique entries: ' + str(len(famhx['patient_id'])))

unique patients: 14 unique entries: 16

In [49]:
famhx_dedup = famhx.drop_duplicates(['date', 'value', 'patient_id'])
famhx_dedup = famhx_dedup.reset_index(drop=True)
print('unique patients: ' + str(len(set(famhx_dedup['patient_id']))) + ' unique entries: ' + str(len(famhx_dedup['patient_id'])))

unique patients: 14 unique entries: 14

In [50]:
# combine
codes = famhx_dedup.append([dat_dedup, pl_dedup])

In [51]:
print('unique patients: ' + str(len(set(codes['patient_id']))) + ' unique entries: ' + str(len(codes['patient_id'])))

unique patients: 577 unique entries: 89638

In [54]:
dat_dedup.to_csv("diagnosis_codes_ids_deduped_all_sources.txt", sep="\t", index=False)